<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header></header>
    <main>
<h1>hi</h1>

<h1>hi</h1>
<%digimonData.forEach((ele,i)=>{%>
<h1><%=ele.name%></h1>
<p><%=ele.img%></p>
<p><%=ele.level%></p>
<form action="/favorite" method="get">
</form>
<%})%>
    </main>
</body>
</html>